[Unit]
Description=pgBackRest %i backup (leader only)
Requires=percona-patroni.service
Wants=network-online.target openbao-agent.service
After=network-online.target openbao-agent.service percona-patroni.service

[Service]
Type=oneshot
User=postgres
Group=postgres
ExecStart=/usr/local/lib/patroni/run-pgbackrest %i
