[Unit]
Description=Postgres dump
After=network-online.target percona-patroni.service
Wants=network-online.target

[Service]
Type=oneshot
User=postgres
Group=postgres
ExecStart=/usr/local/lib/patroni/run-dump