[Unit]
Description=Run Postgres dump

[Timer]
OnBootSec={{ patroni_create_on_boot_dump }}
OnUnitActiveSec={{ patroni_create_interval_dump }}
Unit=patroni-pgdump.service
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target