[Unit]
Description=Run full backup for postgres patroni cluster

[Timer]
OnBootSec={{ patroni_on_boot_full_backup }}
OnUnitActiveSec={{ patroni_interval_full_backup }}
Unit=patroni-backup@full.service
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target