[Unit]
Description=Run incremental backup for postgres patroni cluster

[Timer]
OnBootSec={{ patroni_on_boot_incr_backup }}
OnUnitActiveSec={{ patroni_interval_incr_backup }}
Unit=patroni-backup@incr.service
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target