vault {
  address = "{{ patroni_create_bao_address }}"
  ca_cert = "/etc/pki/ca-trust/source/anchors/patroni-intra-ca.crt"
}

auto_auth {
  method {
    type       = "cert"
    mount_path = "auth/{{ patroni_create_bao_auth_path }}"
    namespace  = "{{ patroni_create_bao_secret_namespace }}"

    config = {
      name        = "{{ inventory_hostname }}"
      ca_cert     = "/etc/pki/ca-trust/source/anchors/patroni-intra-ca.crt"
      client_cert = "{{ patroni_create_vars_openbao_cert_dir }}/ob-client-{{ inventory_hostname }}.crt"
      client_key  = "{{ patroni_create_vars_openbao_cert_dir }}/ob-client-{{ inventory_hostname }}.key"
      reload      = true
    }
  }

  sink {
    type = "file"
    config = {
      path = "{{ patroni_create_bao_token_path }}"
      mode = 0640
    }
  }
}  