[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=syslog.target network-online.target etcd.service
Wants=network-online.target
RequiresMountsFor={{ patroni_postgres_main_dir }}

[Service]
Type=simple 
User=postgres
Group=postgres
ExecStartPre=/usr/local/sbin/patroni-require-volume {{ patroni_postgres_main_dir }} /dev/mapper/patroni-{{ patroni_postgres_volume_name }}
ExecStart={{ patroni_patroni_bin }} {{ patroni_patroni_config_yaml }} 
ExecReload=/bin/kill -s HUP $MAINPID 
KillMode=process 
TimeoutSec=30 
Restart={{ patroni_patroni_restart_svc_type }}

[Install]
WantedBy=multi-user.target